<div class="book-add">
  <div class="container">
    <h3>Add Product</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
      <mat-form-field appearance="outline">
        <mat-label >book Name</mat-label>
        <input matInput type="text" ngModel required name="book"  placeholder="Name">
	  </mat-form-field>
	  
      <mat-form-field appearance="outline">
        <mat-label >author</mat-label>
        <input matInput type="text" name="author" required ngModel>
	  </mat-form-field>
	  
      <mat-form-field appearance="outline">
        <mat-label >Price</mat-label>
        <input matInput type="number" name="price" ngModel required>
	  </mat-form-field>
	  
      <mat-form-field appearance="outline">
        <mat-label >publisher</mat-label>
        <input matInput type="text" name="publisher" required ngModel>
	  </mat-form-field>
	  
	  <!-- <mat-form-field appearance="outline">
        <mat-label >Cover Book</mat-label>
        <input matInput type="text" name="cover" required ngModel>
    </mat-form-field> -->
    
	  <!-- <button type="button" mat-raised-button (click)="cover.click()">Choose File</button>
    <input hidden (change)="onFileSelected()"  name="cover"  ngModel #cover type="file" id="file"> -->
    
      <div class="btn-group">
        <button mat-raised-button class="btn btn-back" [routerLink]="['/shopping/book-list']"> Back
          To List
        </button>
        <button mat-raised-button type="submit" class="btn btn-add" [disabled]="f.invalid">Add Book </button>
      </div>
    </form>
  </div>
</div>
