<div class="books-shelf" >
    <h2 class="title">Books</h2>
    <div class="card-list">
    <mat-card class="card" *ngFor="let book of books$ |async"  >
      <mat-card-content>
        <div class="image-card">
          <img mat-card-image src="{{ book.cover }}" alt="Photo of a Shiba Inu">
        </div>
            <div class="card-body">
              <p class="card-title">{{book.book}}</p>
              <p class="card-text">{{book.price  | currency:'ILS':'symbol'}}</p>
              <p class="card-text"> {{book.publisher}}</p>
              <p class="card-text"> {{book.author}}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" mat-raised-button (click)="buyBook(book.id)">
                  <mat-icon class="credit_card">credit_card</mat-icon>
                  <span> Buy Book</span>
                </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      
</div>

