.books-shelf {
  .title{
    padding: 20px;
  }
    .card-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;
      margin: auto;
      
      .card {
        max-width: 200px;
        margin: 40px auto 10px;
        cursor: pointer;
        min-width: 200px;
        
        .image-card {
          height: 200px;
          .mat-card-image {
            height: 200px;
          }
        }


        .btn-group {
          .credit_card {
            vertical-align: middle;
          }
        }
      }
    }
  
  }
  