<div class="book-edit">
	<div class="col-8 mt-4">
		<h4>Edit Product</h4>
		<form #f="ngForm" (ngSubmit)="onSubmit()" class="form">

			<mat-form-field appearance="outline">
				<mat-label >book Name</mat-label>
				<input matInput type="text" [(ngModel)]="model.book" required name="book"  placeholder="Name">
			  </mat-form-field>
			  
			  <mat-form-field appearance="outline">
				<mat-label >author</mat-label>
				<input matInput type="text" name="author" required  [(ngModel)]="model.author">
			  </mat-form-field>
			  
			  <mat-form-field appearance="outline">
				<mat-label >Price</mat-label>
				<input matInput type="number" name="price" [(ngModel)]="model.price" required>
			  </mat-form-field>
			  
			  <mat-form-field appearance="outline">
				<mat-label >publisher</mat-label>
				<input matInput type="text" name="publisher" required [(ngModel)]="model.publisher">
			  </mat-form-field>


			<div class="btn-group">
				<button mat-raised-button class="btn btn-back" [routerLink]="['/shopping/book-list']" type="submit"> Back To
					List</button>
				<button mat-raised-button type="submit" class="btn btn-edit" [disabled]="f.invalid">Edit Book </button>
			</div>
		</form>

	</div>
</div>