<div class="book-list" *ngIf="vm$ | async as vm">
	<h3 class="mt-4 mb-4">book List</h3>

	<table class="table table-hover text-center">

		<thead>
			<tr>
				<th scope="col">Book Name</th>
				<th scope="col">Price</th>
				<th scope="col">quantity</th>
				<th scope="col">
					<div>
						<button type="button" title="Add new product" class="btn btn-success" [routerLink]="['/shopping/book-add']">Add New Product
							<i class="fas fa-plus"></i></button>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let book of vm.books">
				<th scope="row">{{book.book}}</th>
				<td>{{book.book}}</td>
				<td>{{book.price}}</td>
				<td>{{book.author}}</td>
				<td>{{book.publisher}}</td>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-info" title="View book"  [routerLink]="['/shopping/book-item', book.id]">
							View book </button>
						<button type="button" class="btn btn-warning" title="Edit book" [routerLink]="['/shopping/book-edit', book.id]">Edit</button>
						<button type="button" class="btn btn-danger" title="Delete book" (click)="deleteProduct(book.id)" [routerLink]="['/shopping/book-list']">Delete</button>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<div class="row">
		<div class=" mb-1 mt-5 col-5 offset-7">
			<!-- <app-pagination-buttons-widget [pagination]="vm.pagination" (selecedUrl)="onPaginationChange($event);">
			</app-pagination-buttons-widget> -->
		</div>
	</div>
</div>