<div class="header" >
    <mat-toolbar>
      <span class="title" [routerLink]="['/']">
        Book Shop 
      </span>
      <div class="nav-item">
        <button mat-button class="nav-link" [routerLink]="['/shopping/book-shelf']" >shopping book</button>
      </div>
      <div *ngIf="user.admin">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="dropdown">
          {{ user.email}}
          <mat-icon>arrow_drop_down </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span class="dropdown-item" routerLink="/shopping/book-list">My books</span>
          </button>
        </mat-menu>
      </div>
      <span class="spacer"></span>
      <div class="navbar-nav" *ngIf="user.id">
        <button mat-raised-button class="btn-user" >
          <div routerLink="user/user-details">Purchases</div>
        </button>
      </div>
    </mat-toolbar>
  </div>
  