.header {
    .mat-toolbar {
      background: rgb(0 0 0 / 76%);
      color: white;

      .title {
        cursor: pointer;
      }

      .btn-user {
        // background-color: #b0414154;
      }
    }
    .spacer {
      flex: 1 1 auto;
    }
  }
  