<div class="header" *ngIf="vm$ | async as vm">
    <mat-toolbar>
      <span class="title" [routerLink]="['/']">
        Book Shop 
      </span>
      <div class="nav-item">
        <button mat-button class="nav-link" [routerLink]="['/shopping/book-shelf']" >shopping book</button>
      </div>
      <div *ngIf="vm.isAdmin">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="dropdown">
          {{ vm.isAdmin}}
          <mat-icon>arrow_drop_down </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span class="dropdown-item" routerLink="/shopping/book-list">Products</span>
          </button>
          <button mat-menu-item>
            <span class="dropdown-item" routerLink="['/category/list']">Categories</span>
          </button>
        </mat-menu>
      </div>
      <span class="spacer"></span>
      <div class="navbar-nav" *ngIf="vm.isLoggedin">
        <button mat-button class="nav-item" >
          <div routerLink="user/user-details">User</div>
        </button>
      </div>
    </mat-toolbar>
  </div>
  